<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

@model IEnumerable<practice_02.Models.AirportModel>
<div class="container">
    <h1>Airport List</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>City</td>
                <td>Is International</td>
                <td>Airline Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.City</td>
                    <td>@contact.IsInternational</td>
                    <td>@contact.Position</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="submitButtonCentered" style="display: inline-block; position: relative; left: 17%; top: 10px;">
    <a class="btn btn-primary" role="button" href="@Url.Action("AddAirport")" style="color:inherit">Create New</a>
    <a class="btn btn-primary" role="button" href="~/Index" style="color:inherit">Back</a>
</div>
